In [46]:
import sys
import pandas as pd
import numpy as np
import matplotlib as mpl

print( f"Python {sys.version}\nPandas {pd.__version__}\nNumPy {np.__version__}" ) 
# Load the pokemon dataset
df = pd.read_csv('movie_metadata.csv')  
df.shape

Python 3.9.12 (main, Jun  1 2022, 06:34:44)
[Clang 12.0.0 ]
Pandas 1.5.2
NumPy 1.22.4

(5043, 28)

In [47]:
#1. ปัจจัยที่ส่งผลต่อ ค่าrating IMDB (runtime, actor, director, etc. )
df = df.dropna()
df = df.reset_index(drop=True)

In [57]:
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3751,Color,Olivier Assayas,81.0,110.0,107.0,45.0,Béatrice Dalle,576.0,136007.0,Drama|Music|Romance,...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
3752,Color,Jafar Panahi,64.0,90.0,397.0,0.0,Nargess Mamizadeh,5.0,673780.0,Drama,...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
3753,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
3754,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
3755,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [50]:
df1 = df[df['movie_facebook_likes'] != 0]

In [54]:
df2 = df[df['imdb_score'] == 0]

Empty DataFrame
Columns: [color, director_name, num_critic_for_reviews, duration, director_facebook_likes, actor_3_facebook_likes, actor_2_name, actor_1_facebook_likes, gross, genres, actor_1_name, movie_title, num_voted_users, cast_total_facebook_likes, actor_3_name, facenumber_in_poster, plot_keywords, movie_imdb_link, num_user_for_reviews, language, country, content_rating, budget, title_year, actor_2_facebook_likes, imdb_score, aspect_ratio, movie_facebook_likes]
Index: []

[0 rows x 28 columns]

In [66]:
#2. หนังประเภทไหน มีbudget ในการทำสูง
df2_split = df['genres'].str.split('|', expand=True)
df2_split

                0          1         2        3         4     5     6     7
0          Action  Adventure   Fantasy   Sci-Fi      None  None  None  None
1          Action  Adventure   Fantasy     None      None  None  None  None
2          Action  Adventure  Thriller     None      None  None  None  None
3          Action   Thriller      None     None      None  None  None  None
4          Action  Adventure    Sci-Fi     None      None  None  None  None
...           ...        ...       ...      ...       ...   ...   ...   ...
3751        Drama      Music   Romance     None      None  None  None  None
3752        Drama       None      None     None      None  None  None  None
3753        Drama     Sci-Fi  Thriller     None      None  None  None  None
3754       Action      Crime     Drama  Romance  Thriller  None  None  None
3755  Documentary       None      None     None      None  None  None  None

[3756 rows x 8 columns]

In [69]:
column_data = df2_split.iloc[:, 7]
column_data

0       None
1       None
2       None
3       None
4       None
        ...
3751    None
3752    None
3753    None
3754    None
3755    None
Name: 7, Length: 3756, dtype: object

In [ ]:
#3. หนังที่มี budget สูง จะมี gross profit สูงตามหรือไม่ มี margin เท่าไหร่

In [ ]:
#4.หนังของประเทศไหน ได้รับความนิยมสูง

In [ ]:
#5. เทรนด์หนัง ในแต่ละปี